.btn-logout{
background-color: red;
border-radius: 0;
}
.btn-logout:hover{
    background-color: rgb(204, 0, 0);
    scale: 1.1;
}
body{
background-color:#f4f6f5;
}
.titulo{
color:#0b3d2e;
font-weight:bold;
}

.tabla-header{
background-color:#0b3d2e;
color:white;
}

.header{
background-color:#0b3d2e;
color:white;
padding:20px;
text-align:center;
}

.card-menu{
transition:0.3s;
}

.card-menu:hover{
transform:scale(1.05);
}
.btn-crear{
background-color:#11805e;
border-radius: 0;
}
.btn-crear:hover{
    background-color:#00c98c ;
    scale: 1.1;
}
/* Estilos para el footer */