.btn-verde{
background-color:#0b3d2e;
color:white;
border:none;
}

.btn-verde:hover{
background-color:#145c45;
color:white;
}
body{
background-color:#f4f6f5;
}
.titulo{
color:#0b3d2e;
font-weight:bold;
}

.tabla-header{
background-color:#0b3d2e;
color:white;
}

.header{
background-color:#0b3d2e;
color:white;
padding:20px;
text-align:center;
}

.card-menu{
transition:0.3s;
}

.card-menu:hover{
transform:scale(1.05);
}

/* Estilos para el footer */